//style.scss
@import "common.scss";

.box {
	background-color: $color3;
}

label {
  padding: 3% 0px;
  width: 100%;
  cursor: pointer;
  color: $color1;

  /* Nesting 중첩 */
  &.hover {
    color: white;
    background-color: $color2;
  }
}